{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %} 
    <div>
        <form action="{{ url_for('login') }}", method="POST">
            <div>
                {{ form.name(placeholder="Name") }}
            </div>

            <div>
                {% for error in form.name.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>

            <div>
                {{ form.email(placeholder="Email") }}
            </div>

            <div>
                {% for error in form.email.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>

            <div>
                {{ form.password(placeholder="Password") }}
            </div>

            <div>
                {% for error in form.password.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>


            <div>
                {{ form.retype_password(placeholder="Confirm Password") }}
            </div>

            <div>
                {% for error in form.retype_password.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>

            <div>
                {{ form.submit }}
            </div>

            {{ form.csrf_token }}
        </form>
    </div>
{% endblock %}